<h1>Editing dice type</h1>

<%= render "form", dice_type: @dice_type %>

<br>

<div>
  <%= link_to "Show this dice type", @dice_type %> |
  <%= link_to "Back to dice types", dice_types_path %>
</div>
