<h1>Editing dice roll</h1>

<%= render "form", dice_roll: @dice_roll %>

<br>

<div>
  <%= link_to "Show this dice roll", @dice_roll %> |
  <%= link_to "Back to dice rolls", dice_rolls_path %>
</div>
